* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BeaufortforLOL-Heavy";
}

body {

    overflow: hidden;
    background-image: url("aatroxbackground.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.navbar-dark{
    background-color: black;
    opacity: 0.7;
}


#brand{
    margin-top: -10px;
    height: 100px;
}

.nav navbar-nav{
    text-align: center;
}

.scene,
canvas {
    position: absolute;
    width: 25%;
    height: 35%;
    left: 0px;
    top: 110px;

}
b{
    color: rebeccapurple;
}
#titre{
    margin-top: 90px;
}
#titrep1{
    color: white;
    font-size: 30px;
    margin-left: 80px;
}
#titrep2{
    color:mediumpurple;
    font-size: 50px;
    margin-left: 90px;
}
#story{
    color: grey;
    font-size: x-large;
    margin-left: 500px;
    margin-right: 600px;
    line-height: 25px;

}
table tr td{
    border-spacing: 1000px;
}
.spelltest1{
    background: url("aatroxSpell2.PNG");
    cursor:pointer;
    width: 60px;
    height: 60px;
    border: none;
}

.spell1{
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 250px;
    text-align: left;
    font-size: large;
    background: rgba(0,0,0,0.5);
}
.spellimage1{
    background: url("aatroxSpell1.PNG");
    cursor:pointer;
    width: 60px;
    height: 60px;
    border: none;
    margin-bottom: 450px;
    margin-left: 700px;
    margin-top: 20px;


}
.spellimage2{
    background: url("aatroxSpell2.PNG");
    cursor:pointer;
    width: 60px;
    height: 60px;
    border: none;
    margin-bottom: 450px;
    margin-left: 50px;

}
.spellimage3{
    background: url("aatroxSpell3.PNG");
    cursor:pointer;
    width: 60px;
    height: 60px;
    border: none;
    margin-bottom: 450px;
    margin-left: 50px;

}
.spellimage4{
    background: url("aatroxSpell4.PNG");
    cursor:pointer;
    width: 60px;
    height: 60px;
    border: none;
    margin-bottom: 450px;
    margin-left: 50px;

}
.spellimage5{
    background: url("aatroxSpell5.PNG");
    cursor:pointer;
    width: 60px;
    height: 60px;
    border: none;
    margin-bottom: 450px;
    margin-left: 50px;

}
#competence{
    font-size: xx-large;
    color: white;
    margin-left: 1400px;

}
.hide{
    display: none;
}
.italic{
    font-style: italic;
    color: grey;
}
