*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow: hidden;
    background-image: url("https://i.pinimg.com/originals/fc/df/3d/fcdf3d7207379837c44cd0dabb44cd38.jpg");
    background-size: 100% ;
    background-repeat: no-repeat;
}

.navbar-dark{
    background-color: black;
    opacity: 0.7;
}
.Faille{
    background: url("https://lh3.googleusercontent.com/proxy/nnN5RmRJwWm2m4hIcP5_ehhE1El8kxR4afQPmmr0xZdG9PWq2Tu9rPj65_Ir5F1giHHTvYnnCK2qVDy8tndoijmFTtBqMhCIdlaeFtWyrylJ3xpqVaoMV2Kq8zE7");
}

#brand{
    margin-top: -10px;
    height: 100px;
}

.nav navbar-nav{
    text-align: center;
}
html {
    font-family: 'Poppins', sans-serif;
}

.map{
    width: 1500px;
    height: 700px;
}
body {

    height: 100vh;
}
.test{
    position: relative;
    color: dimgrey;
    margin-left: 1500px;
    top:-700px;
    font-size: large;
    right: 5px;
}
b{
    color: rebeccapurple;
}
.container {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1900px;
    height: 900px;
    background: rgba(0,0,0,0.4);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.container-onglets{
    background: rgba(0,0,0,0.4);

    width: 100%;
    height: 5%;
    display: flex;
    border-bottom: 1px solid #333;
}
.onglets {
    width: 750px;
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.onglets:not(:nth-child(2)) {
    border-right: 1px solid #333;
}
span i{
    color: yellow;

}
.titre{
    color: #f1f1f1;
    font-weight: bold;
}
.contenu {
    height: 70%;
    width: 100%;

    opacity: 0;
    position: absolute;

}
.activeContenu{
    z-index: 1;
}


.contenu p {
    padding: 20px;
}


.icon:hover > span{
    opacity: 1;
}
/* Tooltip container */

/*.tooltip {*/
/*    position: relative;*/
/*    left: 10%;*/
/*    top:10%;*/
/*}*/
.nashor{
    position: absolute;
    top: 185px;
    left: 450px;

}
.dragon{
    position: absolute;
    top: 440px;
    left: 910px;

}
.bleu{
    position: absolute;
    top: 280px;
    left: 350px;

}
.red{
    position: absolute;
    top: 460px;
    left: 720px;
}
.gromp{
    position: absolute;
    top: 350px;
    left: 1150px;

}
.golem{
    position: absolute;
    top: 100px;
    left: 600px;

}
.loup {
    position: absolute;
    top: 280px;
    left: 980px;

}
.corbeau{
    position: absolute;
    top: 210px;
    left: 720px;

}
.top{
    position: absolute;
    top: 100px;
    left: 200px;
}
.jungle{
    position: absolute;
    top: 350px;
    left: 250px;
}
.mid{
    position: absolute;
    top: 300px;
    left: 700px;

}
.support{
    position: absolute;
    top: 500px;
    left: 1220px;

}
.adc{
    position: absolute;
    top: 550px;
    left: 1150px;

}
.spider{
    position: absolute;
    top: 100px;
    left: 700px;

}
.golems{
    position: absolute;
    top: 400px;
    left: 400px;

}
.loups{
    position: absolute;
    top: 200px;
    left: 500px;

}
.esprit{
    position: absolute;
    top: 370px;
    left: 880px;

}
.heal1{
    position: absolute;
    top: 410px;
    left: 660px;

}
.heal2{
    position: absolute;
    top: 320px;
    left: 810px;

}
.heal3{
    position: absolute;
    top: 200px;
    left: 980px;

}
.heal4{
    position: absolute;
    top: 170px;
    left: 1100px;

}
.heal5{
    position: absolute;
    top: 330px;
    left: 710px;
}
.commun .textBelow {
    visibility: hidden;
    width: 120px;
    background-color:rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 25%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}
.rond{

    width: 70px;
    height: 70px;
    clip-path:ellipse(50% 50%);
}
.commum{



}

.commun .textBelow::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%) rotate(180deg);
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.commun:hover .textBelow {
    visibility: visible;
    opacity: 1;
}
.commun img{

    height: 60px;
}


.commun .textAbove {
    visibility: hidden;
    width: 120px;
    background-color:rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 25%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}


.commun .textAbove::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%) ;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.commun:hover .textAbove {
    visibility: visible;
    opacity: 1;
}
/*Anim*/

.active {
    background:rgba(220,220,220,0.8);
    color: #f1f1f1;
    transition: all 0.3s ease;
}

.activeContenu {
    animation: fade 0.5s forwards;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}